@page "/domesticnews"
@using Microsoft.Extensions.Localization;

<PageTitle>国内新闻</PageTitle>

<Carousel Width="100%">
    <CarouselItem>
        <CaptionTemplate>
            <h5>欢迎访问国内新闻板块</h5>
            <p>welcome!</p>
        </CaptionTemplate>
        <ChildContent>
            <img src="/images/banner1.jpg" alt="demo-image" />
        </ChildContent>
    </CarouselItem>
    <CarouselItem>
        <CaptionTemplate>
            <h5>Second slide label</h5>
            <p>banner2.png</p>
        </CaptionTemplate>
        <ChildContent>
            <img src="/images/banner2.png" alt="demo-image" />
        </ChildContent>
    </CarouselItem>
    <CarouselItem>
        <CaptionTemplate>
            <h5>Third slide label</h5>
            <p>banner3.jpg</p>
        </CaptionTemplate>
        <ChildContent>
            <img src="/images/banner3.jpg" alt="demo-image" />
        </ChildContent>
    </CarouselItem>
</Carousel>

<h1 style="text-align:center;margin:20px">欢迎访问国内新闻板块</h1>

@inject IStringLocalizer<Foo> Localizer
<div>
    <Table TItem="Foo" Items="@Items.Take(20)" IsBordered="true"
           ShowToolbar="true" ShowSearch="true" ShowCardView="true" ShowAdvancedSearch="false" ShowDefaultButtons="false"
           IsPagination="true" PageItemsSource="@PageItemsSource" OnQueryAsync="@OnQueryAsync">
        <TableToolbarTemplate>
            <TableToolbarButton Color="Color.Primary" Icon="fas fa-paper-plane" Text="发帖" />
        </TableToolbarTemplate>
        <TableColumns>
            <TableColumn @bind-Field="@context.DateTime" Text="发布时间" Width="180" />
            <TableColumn @bind-Field="@context.Name" Text="标题"/>
            <TableColumn @bind-Field="@context.Name" Text="发布者" Width="120"/>
            <TableColumn @bind-Field="@context.Address" Text="点赞数" Width="30" />
        </TableColumns>
    </Table>
</div>

@code {

    /// <summary>
    /// Foo 类为Demo测试用，如有需要请自行下载源码查阅
    /// Foo class is used for Demo test, please download the source code if necessary
    /// https://gitee.com/LongbowEnterprise/BootstrapBlazor/blob/main/src/BootstrapBlazor.Shared/Data/Foo.cs
    /// </summary>
    private List<Foo>? Items { get; set; }

    private static IEnumerable<int> PageItemsSource => new int[] { 10, 20, 40, 80, 100 };
    /// <summary>
    /// OnInitialized
    /// </summary>
    protected override void OnInitialized()
    {
        base.OnInitialized();
        //获取随机数据
        //Get random data
        Items = Foo.GenerateFoo(Localizer);
    }
    private Task<QueryData<Foo>> OnQueryAsync(QueryPageOptions options)
    {
        IEnumerable<Foo> items = Items;
        var total = items.Count();
        items = items.Skip((options.PageIndex - 1) * options.PageItems).Take(options.PageItems).ToList();

        return Task.FromResult(new QueryData<Foo>()
            {
                Items = items,
                TotalCount = total,
                IsSorted = true,
                IsFiltered = true,
                IsSearch = true
            });
    }
}
