@page "/hotPosts"
@using Microsoft.Extensions.Localization;
@using SchoolBBS.Shared;
@inject HttpClient httpClient
@inject NavigationManager Navigation
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorageService

<PageTitle>校内新闻</PageTitle>

<Carousel Width="100%">
    <CarouselItem>
        <CaptionTemplate>
            <h5>欢迎访问人气热门板块</h5>
            <p>welcome!</p>
        </CaptionTemplate>
        <ChildContent>
            <img src="/images/banner1.jpg" alt="demo-image" />
        </ChildContent>
    </CarouselItem>
    <CarouselItem>
        <CaptionTemplate>
            <h5>Second slide label</h5>
            <p>banner2.png</p>
        </CaptionTemplate>
        <ChildContent>
            <img src="/images/banner2.png" alt="demo-image" />
        </ChildContent>
    </CarouselItem>
    <CarouselItem>
        <CaptionTemplate>
            <h5>Third slide label</h5>
            <p>banner3.jpg</p>
        </CaptionTemplate>
        <ChildContent>
            <img src="/images/banner3.jpg" alt="demo-image" />
        </ChildContent>
    </CarouselItem>
</Carousel>

<h1 style="text-align:center;margin:20px">欢迎访问人气热门板块</h1>

<div>
    <Table TItem="PostListModel" OnQueryAsync="@OnQueryAsync" OnClickRowCallback="@ClickRow" AllowResizing="true"
           ShowToolbar="true" ShowCardView="true" ShowAdvancedSearch="false" ShowDefaultButtons="false"
           IsBordered="true" ShowEmpty="true" IsAutoRefresh="true" ShowSkeleton="true">
        <TableToolbarTemplate>
            <TableToolbarButton Color="Color.Primary" Icon="fas fa-paper-plane" Text="发帖" OnClick="ToCreate"/>
        </TableToolbarTemplate>
        <TableColumns>
            <TableColumn @bind-Field="@context.CreateTime" Text="发布时间" Width="180" />
            <TableColumn @bind-Field="@context.PostTitle" Text="标题" TextEllipsis="true" ShowTips="true" />
            <TableColumn @bind-Field="@context.Replys" Text="回复量" Width="50" Sortable="true" />
            <TableColumn @bind-Field="@context.Likes" Text="点赞数" Width="50" Sortable="true" DefaultSort="true" DefaultSortOrder="SortOrder.Desc" />
        </TableColumns>
    </Table>
</div>
