@page "/"
@using Microsoft.Extensions.Localization;
@using SchoolBBS.Shared;
@inject NavigationManager Navigation
@inject HttpClient httpClient

<PageTitle>欢迎访问校园BBS论坛系统</PageTitle>

<Carousel Images="@Images" Width="100%" ShowControls="true" ShowIndicators="true" />

<Divider />
<h1 style="text-align:center;margin:20px">欢迎访问校园BBS论坛系统</h1>
<Divider />

<div style="width:49%;float:left">
    <Table TItem="PostListModel" OnQueryAsync="@OnQueryAsync" IsStriped="true" IsBordered="true" ShowSkeleton="true" ShowEmpty="true"
           OnClickRowCallback="@ClickRow" IsAutoRefresh="true" PageItemsSource="@PageItemsSource">
        <TableColumns>
            <TableColumn @bind-Field="@context.CreateTime" Visible="false" Sortable="true" DefaultSort="true" DefaultSortOrder="@SortOrder.Desc"/>
            <TableColumn @bind-Field="@context.PostTitle" Text="新鲜出炉" />
        </TableColumns>
    </Table>
</div>
<div style="width:49%;float:right">
    <Table TItem="PostListModel" OnQueryAsync="@OnQueryAsync2" IsStriped="true" IsBordered="true" ShowSkeleton="true" ShowEmpty="true"
           OnClickRowCallback="@ClickRow" IsAutoRefresh="true" PageItemsSource="@PageItemsSource">
        <TableColumns>
            <TableColumn @bind-Field="@context.Likes" Visible="false" Sortable="true" DefaultSort="true" DefaultSortOrder="@SortOrder.Desc"/>
            <TableColumn @bind-Field="@context.PostTitle" Text="人气热门" />
        </TableColumns>
    </Table>
</div>