@page "/postmanage"
@using SchoolBBS.Shared;
@inject HttpClient httpClient
@inject Blazored.LocalStorage.ILocalStorageService localStorageService
@inject NavigationManager Navigation
@layout ManageLayout

<h3>帖子管理</h3>
<Divider/>

<Table TItem="PostManageModel" OnQueryAsync="@OnQueryAsync" OnAddAsync="@OnAddAsync" OnSaveAsync="@OnSaveAsync" OnDeleteAsync="@OnDeleteAsync"
       ShowEmpty="true" IsPagination="true" IsStriped="true" IsBordered="true" IsMultipleSelect="true" IsAutoRefresh="true" AllowResizing="true"
       ShowToolbar="true" ShowSearch="true" ShowExtendButtons="true" ShowAddButton="false" ShowSkeleton="true" ShowAdvancedSearch="false" OnClickRowCallback="@ClickRow">
    <TableColumns>
        <TableColumn @bind-Field="@context.Id" Width="100" Readonly="true" Editable="false" Sortable="true" Filterable="true" Searchable="true" />
        <TableColumn @bind-Field="@context.PostTypeId" Width="50" Sortable="true" Filterable="true" />
        <TableColumn @bind-Field="@context.PostTitle" Searchable="true" TextEllipsis="true" ShowTips="true" />
        <TableColumn @bind-Field="@context.CreateTime" Width="180" Readonly="true" Editable="false" Sortable="true" Filterable="true" />
        <TableColumn @bind-Field="@context.CreateUserId" Width="100" Readonly="true" Editable="false" Sortable="true" Filterable="true" />
        <TableColumn @bind-Field="@context.Replys" Width="100" Readonly="true" Editable="false" Sortable="true" Filterable="true" />
        <TableColumn @bind-Field="@context.Likes" Width="100" Readonly="true" Editable="false" Sortable="true" Filterable="true" />
    </TableColumns>
</Table>
