@page "/postdetail"
@using Microsoft.Extensions.Localization;
@using SchoolBBS.Shared;

@inject NavigationManager Navigation
@inject HttpClient httpClient
@inject Blazored.LocalStorage.ILocalStorageService localStorageService
@inject ToastService ToastService

<PageTitle>@Post.PostTitle</PageTitle>
<div id="container">
    <h1 class="post-title">@Post.PostTitle</h1>
    <div class="post-top">
        <p>发布人：<span>@Post.CreateUserId</span>发布时间：<span>@Post.CreateTime</span>回复量：<span>@Post.Replys</span>点赞量：<span>@Post.Likes</span></p>
    </div>
    <Divider />
    <Markdown IsViewer="true" Value="@Post.PostContent" @ref="MarkdownSetValue" style="width:100%; min-height:300px;margin-bottom:20px;"></Markdown>
    <div>
        <Table TItem="GetReplysModel" IsBordered="true"
               ShowLineNo="true" ShowToolbar="true" ShowSearch="false" ShowCardView="true" ShowAdvancedSearch="false" ShowDefaultButtons="false"
               IsPagination="true" OnQueryAsync="@OnQueryAsync" ShowEmpty="true" OnDoubleClickRowCallback="@ReplyLiked" IsAutoRefresh="true">
            <TableToolbarTemplate>
                <TableToolbarButton Color="Color.Success" Icon="fa-fw fa-solid fa-thumbs-up" OnClick="OnLiked" Text="点赞帖子" />
            </TableToolbarTemplate>
            <TableColumns>
                <TableColumn @bind-Field="@context.Id" Visible="false" Sortable="true" DefaultSort="true" DefaultSortOrder="@SortOrder.Asc" />
                <TableColumn @bind-Field="@context.CreateTime" Text="用户信息" Width="180" Align="Alignment.Center" Searchable="true" Sortable="true">
                    <Template Context="value">
                        <div class="d-flex">
                            <div class="ps-2">
                                <div>用户：@value.Row.CreateUserId</div>
                                <div>@value.Value</div>
                            </div>
                        </div>
                    </Template>
                </TableColumn>
                <TableColumn @bind-Field="@context.ReplyContent" Text="回复内容" Searchable="true">
                    <Template Context="text">
                        <Markdown IsViewer="true" Value="@text.Value"></Markdown>
                    </Template>
                </TableColumn>
                <TableColumn @bind-Field="@context.Likes" Text="点赞数" Width="100" Align="Alignment.Center" Sortable="true">
                </TableColumn>
            </TableColumns>
        </Table>
    </div>
    <Divider Text="发表回复" Alignment="Alignment.Left" />
    <div>
        <Markdown @bind-Value="@NewReply.ReplyContent" />
        <Button Icon="fas fa-paper-plane" Color="Color.Primary" style="margin:20px 0;float:right;" OnClick="OnReply"> 回帖</Button>
    </div>
</div>
