@inherits LayoutComponentBase

<Layout SideWidth="0" IsPage="true" ShowGotoTop="true" ShowCollapseBar="true"
        IsFullSide="@IsFullSide" IsFixedHeader="@IsFixedHeader" IsFixedFooter="@IsFixedFooter" ShowFooter="@ShowFooter"
        TabDefaultUrl="/"
        Menus="@Menus" AdditionalAssemblies="new[] { GetType().Assembly }" class="@Theme">
    <Header>
        <span class="ms-3 flex-sm-fill d-none d-sm-block">欢迎访问校园BBS论坛系统</span>
        <div class="flex-fill d-sm-none">
        </div>
        @if (IsLogin == false)
        {
            <div>
                <a href="login" style="color:white;font-weight:bold;margin:10px 10px;">登录</a>
                <a href="register" style="color:white;font-weight:bold;margin:10px 10px;">注册</a>
            </div>
        }
        @if (IsLogin == true)
        {
            <div>
                <a href="usercenter" style="color:white;font-weight:bold;margin:10px 10px;">欢迎，@UserName !</a>
                <a href="logout" style="color:white;font-weight:bold;margin:10px 10px;" >登出</a>
            </div>
        }
    </Header>
    <Side>
        <div class="layout-banner">
            <img class="layout-logo" src="/icon-192.png" />
            <div class="layout-title">
                <span>校园BBS</span>
            </div>
        </div>
    </Side>
    <Main>
        <CascadingValue Value="this" IsFixed="true">
            @Body
        </CascadingValue>
    </Main>
    <Footer>
        <div class="text-center flex-fill">
            <a class="page-layout-demo-footer-link" href="management" target="_blank" style="color:white;text-decoration:none">人工智能学院 软工1903 刘玉潭</a>
        </div>
    </Footer>
    <NotFound>
        <p>Sorry, there's nothing at this address.</p>
    </NotFound>
</Layout>